// utils styles

// start todo styles
.todo {
  margin: 0 auto;
  max-width: 960px;
  background-color: #fff;
}

.todo-list {
  padding: 20px;
}

.todo-item {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;

  span {
    color: #322958;
  }

  p {
    margin: 15px 0px;
    color: #c3b725;
  }
}
// end todo styles

// start miscellaneous styles
.loading-indicator {
  color: #322958;
  padding: 10px;
  display: block;
  text-align: center;
}

.error {
  color: #322958;
  padding: 10px;
  display: block;
  text-align: center;
}
// end miscellaneous styles
